<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceFolderPr" value="D:\Duplo"/>
		<add key="SortingFolderPr" value="D:\!Duplo"/>
		<add key="SourceFolderSc" value="D:\Doris"/>
		<add key="SortingFolderSc" value="D:\!Doris"/>

		<add key="SortingViolations" value="true"/>
		<add key="StorageDays" value="30"/>
		<add key="StorageSortingIntervalMinutes" value="20"/>
		<add key="StorageXML" value="true"/>
		<add key="StorageСollage" value="false"/>
		<add key="StorageVideo" value="false"/>

		
		<add key="StatusViewCamera" value="true"/>
		<add key="StatusViewCameraIntervalMinutes" value="5"/>

		<add key="StatusServicesReplicator" value="true"/>
		<add key="StatusServicesReplicatorIntervalMinutes" value="5"/>
		<add key="RestartingNoReplicationIntervalMinutes" value="60"/>

		<add key="StatusServicesExport" value="true"/>
		<add key="StatusServicesExportIntervalHours" value="6"/>

		
		<add key="SQLDataSource" value="(LOCAL)"/>
		<add key="SQLUser" value="sa"/>
		<add key="SQLPassword" value="1"/>
	</appSettings>
</configuration>